aside {
    width: 15vw;
    height: 70vh;
    /* background-color: #4F4557; */
}

.aside-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-top-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 10px;
}

.aside-logo,
.aside-logout,
.aside-dashboard {
    display: flex;
    justify-content: center;
}

img.logo {
    transform: scale(0.75);
    align-self: center;
}

img.home,
img.logout {
    transform: scale(0.40);
    align-self: center;
}