.login-main-page {
    width: 35vw;
    height: 45vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4F4557;
    border-radius: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form-container {
    padding: 25px;
}

.login-username-container,
.login-password-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

#login-username,
#login-password {
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    width: 18vw;
    font-size: 18px;
    text-align: center;
}

#login-username,
#login-password:focus {
    outline: none;
}

.login-button {
    width: 40%;
    position: relative;
    margin: 30px 0 0 0;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #2ec4b6;
    color: white;
}

.signup-question {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signup-question button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: wheat;
}

.show-password {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    right: 23%;
    top: 50%;
    transform: translateY(-50%);
}